<tr>
	<td><%= link_to post.title, authors_post_path(post) %></td>
	<td></td>
	<% if post.published? %>
		<td><%= link_to 'Despublicar', unpublish_authors_post_path(post), method: :put, class: 'btn btn-sm btn-primary' %></td>
	<% else %>
		<td><%= link_to 'Publicar', publish_authors_post_path(post), method: :put,  class: 'btn btn-sm btn-success' %></td>
	<% end %>
	<td><%= link_to 'Editar', edit_authors_post_path(post), class: 'btn btn-sm btn-warning' %></td>
	<td><%= link_to 'Apagar', authors_post_path(post), method: :delete, data: {confirm: 'Tem certeza que deseja apagar o post?'}, class: 'btn btn-sm btn-danger' %></td>

</tr>